<br>
<div class="panel panel-default">
    <div class="panel-heading text-center"><h2>Первоначальная настройка сервиса</h2></div>
    <div class="container col-lg-12">
        <div class="row">
            <div class="col-md-6 table-bordered text-left">
                <h3 class="text-center text-info">Chat2Desk</h3>
            <img src="~/Content/chat2desk.png"  height="134" class="img-thumbnail"/>
                <p> Для подключения Chat2Desk к нашему сервису, требуется токен, который нужно ввести единажды.   </p>
                @using (Html.BeginForm("GetChat", "Home"))
                {   
                    <b style="margin-left:10px">   Введите Токен: </b><br>
                    @Html.TextArea("Token","", 1, 32, null)
                    <input type="submit" class="btn btn-primary" style="margin-top:-18px" />
                    
                }
                <br />
            @ViewBag.chat
            </div>
            
            <div class="col-md-6 table-bordered">
                <h3 class="text-center text-info">Gmail</h3>
                <img src="~/Content/Gmailpng.png" height="200" class="img-thumbnail" />
                <p> Для подключения Gmail к нашему сервису, требуется Клиентский секрет, который Вы должны получить зайдя.   </p>
            @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input type="file" name="upload"/><br>
                    <input type="submit" value="Загрузить"  class="btn btn-primary"/>
                 }
                @ViewBag.gmail
                <br />
            </div>
        </div>
    </div>
</div>